{% load static %}
{% include 'header.html' %}
<center>
<div class="section" style="max-width: 70%;">

    <center>
        <h1 class="main-title">About Us</h1>
    </center>
    <br>

    <p>Government Polytechnic,Jalgaon is established in the year 1960. The institute is governed by Government of
        Maharashtra and approved by All India Council for Technical Education and Pharmacy Council of India to offer
        technical level Diploma and Post Diploma programmes in engineering , technology and pharmacy as per The norms of
        Maharashtra State Board of Technical Education, Mumbai.
        The campus is spread over a land of 52 acres , Under World Bank Assisted Project implemented during 1992-97,
        infrastructure facilities have been enhanced and High-Tech equipment are procured.
        The institute offers need based continuing education programmes , testing and consultancy services to business
        and industry besides services to community throughTechnology transfer.</p>



</div>
</center>



{% include 'footer.html' %}