{% load static %}
{% include 'admin2/header.html'%}
    <style>
        .usericon {
            border-radius: 50%;
            padding: 5px;
            margin: 4%;
            width: 20%;
            border: solid 5px rgb(72, 122, 238);
        }

        input {
            text-decoration: none;
            background-color: white;
            text-align: center;
            outline: 0;

        }
    </style>

        <!-- MAIN -->
        <div class="col p-4">
            <center>
                <h1 class="title">Change Password</h1>
                <br>
                <form method="post" action="">
                    <div class="card" style="width: 100%; text-align:center;">
                        <center>
                            <img src="{% static 'images/usericon.png'  %}" class="usericon" alt="..." name="profilephoto">
                        </center>
                        <div class="card-body">


                            <h5 class="card-title"><label><b>Old Password</b></label><input type="text"
                                    placeholder="old password" name="old_password" class="w3-input" required /></h5>


                            <h5><label><b>New Password</b></label><input type="text" placeholder="new password"
                                    class="w3-input" name="new_password" required /></h5>


                            <button class="btn btn-success" type="submit">Save</button>



                        </div>
                    </div>

            </center>
            </form>
        </div><!-- Main Col END -->
    </div><!-- body-row END -->
</body>

</html>